@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Permanent+Marker|Prompt');

.welcomeParent{
  display: flex;
  justify-content: center;
  /* background-color: #621389; */
  background-color: #d1d1d1;
}

.welcome {
  background-color: #621389;
  /* background-color: #d1d1d1; */
  min-height: 800px;
  padding-top: 15px;
  /* padding-bottom: 600px; */
  margin-top: 75px;
  display: flex;
  justify-content: center;
  min-width: 800px;
  width: 80%;
  border: 1px solid #00f281;
}

.earwormText {
  margin: 0;
  padding-top: 200px;
  font-size: 45px;
  font-family: 'Permanent Marker', cursive;
  color: black;
  /* -webkit-text-fill-color: white;  */
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #00f281;
}
